<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.czy19.signinapplication">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="掌上签到"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity android:name=".MainActivity">-->
        <!--</activity>-->
        <activity android:name=".BaseActivity">
        </activity>
        <activity android:name=".Loading">
        </activity>
        <activity android:name=".Setting">
        </activity>
        <activity android:name=".Camera">
        </activity>
        <activity android:name=".Personalinfo_shown">
        </activity>
        <activity android:name=".Personalinfo_edit">
        </activity>
        <activity android:name=".Today_signin">
        </activity>
        <activity android:name=".Signin_record">
        </activity>
        <activity android:name=".Notification">
        </activity>
        <activity android:name=".Connection">
        </activity>
        <activity android:name=".Signin_record_view">
        </activity>
    </application>

</manifest>